[Unit]
Description=Skycord automatic update
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/skycord update --yes
